# 課題0703

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [2]:
import pandas as pd
import json

In [3]:
file_path = './Data/example.json'
example_df = pd.read_json(file_path, lines=True)
example_df

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [17]:
# read_csv関数はfile path(文字列の形式)をparamentとして受け取ります。
# file pathとしての文字列の先頭に「./」を使用すると、read_csv関数は現在のfolderからfileを検索し始めます。
state_abbrevs_df = pd.read_csv('./Data/state-abbrevs.csv')
state_areas_df = pd.read_csv('./Data/state-areas.csv')
state_population_df = pd.read_csv('./Data/state-population.csv')

In [18]:
# state_abbrevsのcsvの中には、Puerto Ricoとその略語がないです。
# しかし、他のcsvの中には、Puerto Ricoに関する情報があるので、
# データ処理を容易にするために、Puerto Ricoとその略語をstate_abbrevsからのDataFrameに追加します。
state_abbrevs_df.loc[len(state_abbrevs_df)] = ['Puerto Rico', 'PR']
state_abbrevs_df = state_abbrevs_df.sort_values(by='state')
state_abbrevs_df = state_abbrevs_df.reset_index(drop=True)

state_areas_df = state_areas_df.sort_values(by='state')
state_areas_df = state_areas_df.reset_index(drop=True)

In [19]:
# display_htmlを使用して2つのDataFrameを同じ行にdisplayします
from IPython.display import display_html
def display_side_by_side(*dfs):
    html_str = ''
    for df in dfs:
        html_str += df.to_html()
    display_html(html_str.replace('table', 'table style="display:inline"'), raw=True)
display_side_by_side(state_abbrevs_df, state_areas_df)

,state,abbreviation
0,Alabama,AL
1,Alaska,AK
2,Arizona,AZ
3,Arkansas,AR
4,California,CA
5,Colorado,CO
6,Connecticut,CT
7,Delaware,DE
8,District of Columbia,DC
9,Florida,FL
10,Georgia,GA
11,Hawaii,HI
12,Idaho,ID
13,Illinois,IL
14,Indiana,IN
15,Iowa,IA
16,Kansas,KS
17,Kentucky,KY
18,Louisiana,LA
19,Maine,ME
20,Maryland,MD
21,Massachusetts,MA
22,Michigan,MI
23,Minnesota,MN
24,Mississippi,MS
25,Missouri,MO
26,Montana,MT
27,Nebraska,NE
28,Nevada,NV
29,New Hampshire,NH
30,New Jersey,NJ
31,New Mexico,NM
32,New York,NY
33,North Carolina,NC
34,North Dakota,ND
35,Ohio,OH
36,Oklahoma,OK
37,Oregon,OR
38,Pennsylvania,PA
39,Puerto Rico,PR
40,Rhode Island,RI
41,South Carolina,SC
42,South Dakota,SD
43,Tennessee,TN
44,Texas,TX
45,Utah,UT
46,Vermont,VT
47,Virginia,VA
48,Washington,WA
49,West Virginia,WV
50,Wisconsin,WI
51,Wyoming,WY
,state,area (sq. mi)
0,Alabama,52423
1,Alaska,656425
2,Arizona,114006
3,Arkansas,53182
4,California,163707
5,Colorado,104100
6,Connecticut,5544
7,Delaware,1954
8,District of Columbia,68
9,Florida,65758
10,Georgia,59441
11,Hawaii,10932
12,Idaho,83574
13,Illinois,57918
14,Indiana,36420
15,Iowa,56276
16,Kansas,82282
17,Kentucky,40411
18,Louisiana,51843
19,Maine,35387
20,Maryland,12407
21,Massachusetts,10555
22,Michigan,96810
23,Minnesota,86943
24,Mississippi,48434
25,Missouri,69709
26,Montana,147046
27,Nebraska,77358
28,Nevada,110567
29,New Hampshire,9351
30,New Jersey,8722
31,New Mexico,121593
32,New York,54475
33,North Carolina,53821
34,North Dakota,70704
35,Ohio,44828
36,Oklahoma,69903
37,Oregon,98386
38,Pennsylvania,46058
39,Puerto Rico,3515
40,Rhode Island,1545
41,South Carolina,32007
42,South Dakota,77121
43,Tennessee,42146
44,Texas,268601
45,Utah,84904
46,Vermont,9615
47,Virginia,42769
48,Washington,71303
49,West Virginia,24231
50,Wisconsin,65503
51,Wyoming,97818

In [20]:
# stateという列を使用してmergeします
combined_df = pd.merge(state_abbrevs_df, state_areas_df, on='state', how='outer')
combined_df

                   state abbreviation  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20              Maryland           MD          12407
21         Massachusetts           MA          10555
22              Michigan           MI          96810
23             Minnesota           MN          86943
24           Mississippi           MS          48434
25              Missouri           MO          69709
26               Montana           MT         147046
27              Nebraska           NE          77358
28                Nevada           NV         110567
29         New Hampshire           NH           9351
30            New Jersey           NJ           8722
31            New Mexico           NM         121593
32              New York           NY          54475
33        North Carolina           NC          53821
34          North Dakota           ND          70704
35                  Ohio           OH          44828
36              Oklahoma           OK          69903
37                Oregon           OR          98386
38          Pennsylvania           PA          46058
39           Puerto Rico           PR           3515
40          Rhode Island           RI           1545
41        South Carolina           SC          32007
42          South Dakota           SD          77121
43             Tennessee           TN          42146
44                 Texas           TX         268601
45                  Utah           UT          84904
46               Vermont           VT           9615
47              Virginia           VA          42769
48            Washington           WA          71303
49         West Virginia           WV          24231
50             Wisconsin           WI          65503
51               Wyoming           WY          97818

In [22]:
population_2010_df = state_population_df[(state_population_df['ages'] == 'total') & (state_population_df['year'] == 2010)]
population_2010_df = population_2010_df.rename(columns={'state/region': 'abbreviation'})
population_2010_df= population_2010_df[population_2010_df['abbreviation'] != 'USA']
population_2010_df = population_2010_df.sort_values(by='abbreviation').reset_index(drop=True)
population_2010_df

   abbreviation   ages  year  population
0            AK  total  2010    713868.0
1            AL  total  2010   4785570.0
2            AR  total  2010   2922280.0
3            AZ  total  2010   6408790.0
4            CA  total  2010  37333601.0
5            CO  total  2010   5048196.0
6            CT  total  2010   3579210.0
7            DC  total  2010    605125.0
8            DE  total  2010    899711.0
9            FL  total  2010  18846054.0
10           GA  total  2010   9713248.0
11           HI  total  2010   1363731.0
12           IA  total  2010   3050314.0
13           ID  total  2010   1570718.0
14           IL  total  2010  12839695.0
15           IN  total  2010   6489965.0
16           KS  total  2010   2858910.0
17           KY  total  2010   4347698.0
18           LA  total  2010   4545392.0
19           MA  total  2010   6563263.0
20           MD  total  2010   5787193.0
21           ME  total  2010   1327366.0
22           MI  total  2010   9876149.0
23           MN  total  2010   5310337.0
24           MO  total  2010   5996063.0
25           MS  total  2010   2970047.0
26           MT  total  2010    990527.0
27           NC  total  2010   9559533.0
28           ND  total  2010    674344.0
29           NE  total  2010   1829838.0
30           NH  total  2010   1316614.0
31           NJ  total  2010   8802707.0
32           NM  total  2010   2064982.0
33           NV  total  2010   2703230.0
34           NY  total  2010  19398228.0
35           OH  total  2010  11545435.0
36           OK  total  2010   3759263.0
37           OR  total  2010   3837208.0
38           PA  total  2010  12710472.0
39           PR  total  2010   3721208.0
40           RI  total  2010   1052669.0
41           SC  total  2010   4636361.0
42           SD  total  2010    816211.0
43           TN  total  2010   6356683.0
44           TX  total  2010  25245178.0
45           UT  total  2010   2774424.0
46           VA  total  2010   8024417.0
47           VT  total  2010    625793.0
48           WA  total  2010   6742256.0
49           WI  total  2010   5689060.0
50           WV  total  2010   1854146.0
51           WY  total  2010    564222.0

In [24]:
density_2010_df = pd.merge(combined_df, population_2010_df, on='abbreviation', how='outer')
density_2010_df['population density'] = density_2010_df['population'] / density_2010_df['area (sq. mi)']
density_2010_df = density_2010_df.sort_values(by='state').reset_index(drop=True)
density_2010_df

,state,abbreviation,area (sq. mi),ages,year,population,population density
0,Alabama,AL,52423,total,2010,4785570.0,91.287603
1,Alaska,AK,656425,total,2010,713868.0,1.087509
2,Arizona,AZ,114006,total,2010,6408790.0,56.214497
3,Arkansas,AR,53182,total,2010,2922280.0,54.948667
4,California,CA,163707,total,2010,37333601.0,228.051342
5,Colorado,CO,104100,total,2010,5048196.0,48.493718
6,Connecticut,CT,5544,total,2010,3579210.0,645.600649
7,Delaware,DE,1954,total,2010,899711.0,460.445752
8,District of Columbia,DC,68,total,2010,605125.0,8898.897059
9,Florida,FL,65758,total,2010,18846054.0,286.597129
10,Georgia,GA,59441,total,2010,9713248.0,163.409902
11,Hawaii,HI,10932,total,2010,1363731.0,124.746707
12,Idaho,ID,83574,total,2010,1570718.0,18.794338
13,Illinois,IL,57918,total,2010,12839695.0,221.687472
14,Indiana,IN,36420,total,2010,6489965.0,178.197831
15,Iowa,IA,56276,total,2010,3050314.0,54.202751
16,Kansas,KS,82282,total,2010,2858910.0,34.745266
17,Kentucky,KY,40411,total,2010,4347698.0,107.586994
18,Louisiana,LA,51843,total,2010,4545392.0,87.676099
19,Maine,ME,35387,total,2010,1327366.0,37.509990
20,Maryland,MD,12407,total,2010,5787193.0,466.445797
21,Massachusetts,MA,10555,total,2010,6563263.0,621.815538
22,Michigan,MI,96810,total,2010,9876149.0,102.015794
23,Minnesota,MN,86943,total,2010,5310337.0,61.078373
24,Mississippi,MS,48434,total,2010,2970047.0,61.321530
25,Missouri,MO,69709,total,2010,5996063.0,86.015622
26,Montana,MT,147046,total,2010,990527.0,6.736171
27,Nebraska,NE,77358,total,2010,1829838.0,23.654153
28,Nevada,NV,110567,total,2010,2703230.0,24.448796
29,New Hampshire,NH,9351,total,2010,1316614.0,140.799273
30,New Jersey,NJ,8722,total,2010,8802707.0,1009.253268
31,New Mexico,NM,121593,total,2010,2064982.0,16.982737
32,New York,NY,54475,total,2010,19398228.0,356.094135
33,North Carolina,NC,53821,total,2010,9559533.0,177.617157
34,North Dakota,ND,70704,total,2010,674344.0,9.537565
35,Ohio,OH,44828,total,2010,11545435.0,257.549634
36,Oklahoma,OK,69903,total,2010,3759263.0,53.778278
37,Oregon,OR,98386,total,2010,3837208.0,39.001565
38,Pennsylvania,PA,46058,total,2010,12710472.0,275.966651
39,Puerto Rico,PR,3515,total,2010,3721208.0,1058.665149
40,Rhode Island,RI,1545,total,2010,1052669.0,681.339159
41,South Carolina,SC,32007,total,2010,4636361.0,144.854594
42,South Dakota,SD,77121,total,2010,816211.0,10.583512
43,Tennessee,TN,42146,total,2010,6356683.0,150.825298
44,Texas,TX,268601,total,2010,25245178.0,93.987655
45,Utah,UT,84904,total,2010,2774424.0,32.677188
46,Vermont,VT,9615,total,2010,625793.0,65.085075
47,Virginia,VA,42769,total,2010,8024417.0,187.622273
48,Washington,WA,71303,total,2010,6742256.0,94.557817
49,West Virginia,WV,24231,total,2010,1854146.0,76.519582
50,Wisconsin,WI,65503,total,2010,5689060.0,86.851900
51,Wyoming,WY,97818,total,2010,564222.0,5.768079

In [25]:
# 厳密に言えば、Puerto Ricoは米国の州ではありません。
# これはPuerto Ricoに関するrowを削除されたDataFrameです。
without_PR_df = density_2010_df.drop(density_2010_df[density_2010_df['state'] == 'Puerto Rico'].index)
without_PR_df = without_PR_df.reset_index(drop=True)
without_PR_df

,state,abbreviation,area (sq. mi),ages,year,population,population density
0,Alabama,AL,52423,total,2010,4785570.0,91.287603
1,Alaska,AK,656425,total,2010,713868.0,1.087509
2,Arizona,AZ,114006,total,2010,6408790.0,56.214497
3,Arkansas,AR,53182,total,2010,2922280.0,54.948667
4,California,CA,163707,total,2010,37333601.0,228.051342
5,Colorado,CO,104100,total,2010,5048196.0,48.493718
6,Connecticut,CT,5544,total,2010,3579210.0,645.600649
7,Delaware,DE,1954,total,2010,899711.0,460.445752
8,District of Columbia,DC,68,total,2010,605125.0,8898.897059
9,Florida,FL,65758,total,2010,18846054.0,286.597129
10,Georgia,GA,59441,total,2010,9713248.0,163.409902
11,Hawaii,HI,10932,total,2010,1363731.0,124.746707
12,Idaho,ID,83574,total,2010,1570718.0,18.794338
13,Illinois,IL,57918,total,2010,12839695.0,221.687472
14,Indiana,IN,36420,total,2010,6489965.0,178.197831
15,Iowa,IA,56276,total,2010,3050314.0,54.202751
16,Kansas,KS,82282,total,2010,2858910.0,34.745266
17,Kentucky,KY,40411,total,2010,4347698.0,107.586994
18,Louisiana,LA,51843,total,2010,4545392.0,87.676099
19,Maine,ME,35387,total,2010,1327366.0,37.509990
20,Maryland,MD,12407,total,2010,5787193.0,466.445797
21,Massachusetts,MA,10555,total,2010,6563263.0,621.815538
22,Michigan,MI,96810,total,2010,9876149.0,102.015794
23,Minnesota,MN,86943,total,2010,5310337.0,61.078373
24,Mississippi,MS,48434,total,2010,2970047.0,61.321530
25,Missouri,MO,69709,total,2010,5996063.0,86.015622
26,Montana,MT,147046,total,2010,990527.0,6.736171
27,Nebraska,NE,77358,total,2010,1829838.0,23.654153
28,Nevada,NV,110567,total,2010,2703230.0,24.448796
29,New Hampshire,NH,9351,total,2010,1316614.0,140.799273
30,New Jersey,NJ,8722,total,2010,8802707.0,1009.253268
31,New Mexico,NM,121593,total,2010,2064982.0,16.982737
32,New York,NY,54475,total,2010,19398228.0,356.094135
33,North Carolina,NC,53821,total,2010,9559533.0,177.617157
34,North Dakota,ND,70704,total,2010,674344.0,9.537565
35,Ohio,OH,44828,total,2010,11545435.0,257.549634
36,Oklahoma,OK,69903,total,2010,3759263.0,53.778278
37,Oregon,OR,98386,total,2010,3837208.0,39.001565
38,Pennsylvania,PA,46058,total,2010,12710472.0,275.966651
39,Rhode Island,RI,1545,total,2010,1052669.0,681.339159
40,South Carolina,SC,32007,total,2010,4636361.0,144.854594
41,South Dakota,SD,77121,total,2010,816211.0,10.583512
42,Tennessee,TN,42146,total,2010,6356683.0,150.825298
43,Texas,TX,268601,total,2010,25245178.0,93.987655
44,Utah,UT,84904,total,2010,2774424.0,32.677188
45,Vermont,VT,9615,total,2010,625793.0,65.085075
46,Virginia,VA,42769,total,2010,8024417.0,187.622273
47,Washington,WA,71303,total,2010,6742256.0,94.557817
48,West Virginia,WV,24231,total,2010,1854146.0,76.519582
49,Wisconsin,WI,65503,total,2010,5689060.0,86.851900
50,Wyoming,WY,97818,total,2010,564222.0,5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [29]:
# mergeのため、combined_dfの列名をstateからstate/regionに変更します。
combined_df = combined_df.rename(columns={'state': 'state/region'})
density_by_group_df = state_population_df.rename(columns={'state/region': 'abbreviation'})
density_by_group_df.drop(density_by_group_df[density_by_group_df['abbreviation'] == 'USA'].index, inplace=True)
density_by_group_df = pd.merge(combined_df, density_by_group_df, on='abbreviation', how='outer')
density_by_group_df=density_by_group_df.groupby(['state/region','ages','year'])\
                                       .agg({'population':'sum','area (sq. mi)':'mean'}).reset_index()
density_by_group_df['population density'] = density_by_group_df['population'] / density_by_group_df['area (sq. mi)']

In [34]:
density_by_group_df

,state/region,ages,year,population,area (sq. mi),population density
0,Alabama,total,1990,4050055.0,52423.0,77.257215
1,Alabama,total,1991,4099156.0,52423.0,78.193846
2,Alabama,total,1992,4154014.0,52423.0,79.240295
3,Alabama,total,1993,4214202.0,52423.0,80.388417
4,Alabama,total,1994,4260229.0,52423.0,81.266410
...,...,...,...,...,...,...
2491,Wyoming,under18,2009,134960.0,97818.0,1.379705
2492,Wyoming,under18,2010,135351.0,97818.0,1.383702
2493,Wyoming,under18,2011,135407.0,97818.0,1.384275
2494,Wyoming,under18,2012,136526.0,97818.0,1.395714
2495,Wyoming,under18,2013,137679.0,97818.0,1.407502